@font-face{
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: url("fonts/roboto.woff2") format(woff2),
         url("fonts/roboto.woff") format(woff);
}

@font-face{
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: url("fonts/robotobold.woff2") format(woff2),
         url("fonts/robotobold.woff") format(woff),
}

@font-face{
    font-family: "Roboto";
    font-weight: 500;
    font-display: swap;
    src: url("fonts/robotomedium.woff2") format(woff2),
         url("fonts/robotomedium.woff") format(woff);
}

:root{
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-green: #849D8F;
    --basic-filtergreen: rgba(215, 242, 227, 0.75);
    --basic-grey: #8996A6;
    --basic-filtergrey:rgba(218, 228, 239, 0.75);
    --basic-brown: #9D8B84;
    --basic-filterbrown:rgba(239, 224, 218, 0.75);
    --basic-regularbutton: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-focusbutton: linear-gradient(0deg, rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-activebutton: linear-gradient(0deg, rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.07)),linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-lightred: #FBDED7;
    --basic-mediumred: #F6B5A5;
    --basic-darkred: #D07058;
    --basic-linklightred: #FFBC9E;
    --basic-linkred: #E84D37;
    --basic-transparent: rgba(255, 255, 255, 0.2);
    --basic-lightgrey: #F8F7F4;
    --basic-border: #D3D3D2;
    --basic-borderinput: rgba(178, 178, 178, 0.52);
    --basic-borderinputfocus: rgba(46, 136, 228, 0.52);
    --basic-lightgreen: rgba(255, 255, 255, 0.2);
    --basic-darkgrey: #999999;
    --basic-line: rgba(50, 50, 50, 0.3);
}

body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    background-position: top center;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: var(--basic-white);
}

/*Скрываем элементы*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: var(--basic-regularbutton);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    color: var(--basic-white);
}

.main-navigation{
    color: var(--basic-white);
    line-height: 18px;
}

.site-navigation a{
    border-bottom: 2px solid var( --basic-lightgreen);
}

.site-navigation,
.user-navigation{
    list-style: none;
}

.site-navigation a,
.user-navigation a{
    color: var(--basic-white);
}

.site-navigation a:hover,
.user-navigation a:hover{
    background-color: var(--basic-white);
    color: var(--basic-black);
    border-radius: 26px;
}

.main-slaider{
    font-weight: 500;
}

.main-slaider-info p{
    font-size: 14px;
    line-height: 16px;
}
.main-slaider-info a{
    font-size: 22px;
    line-height: 24px;
}

.main-slaider-ice{
    font-size: 60px;
    line-height: 60px;
}

.main-slaider-ice a{
    font-size: 32px;
    line-height: 44px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-col1{
    background-image: url("../img/raspberry.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    min-height: 229px;
    max-width: 560px;
}

.main-col2{
    background-image: url("../img/chocolate.png");
}

.main-col1 a{
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
}

.main-col2 a{
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
}

.main-col1 a:hover{
    box-shadow: 0px 1px 2px #AC1000;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.main-col1 h2{
    font-size: 35px;
    line-height: 41px;
} 

.main-col1 p{
    font-size: 18px;
    line-height: 22px;
}

.catalog-hit{
    list-style: none;
}

.catalog-hit li{
   max-width: 267px;
}

.price{
    font-size: 45px;
    line-height: 45px;
}
span{
    font-size: 30px;
    line-height: 35px;
}

.name{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--basic-transparent);

}

.info{
    color: var(--basic-black);
    background-image: url("../img/pattern.jpg");
}

.info h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.info-advantage{
    list-style: none;
}

article{
    background-image: url("../img/strawberry.png");
    background-repeat: no-repeat;
    color: var(--basic-black);
    min-height: 220px;
    max-width: 560px;
}

article a{
    color: var(--basic-black);
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.col-subscription{
    background-image: url("../img/mail-background.png"), url("../img/substrate.png");
    background-blend-mode: hue;
    background-repeat: no-repeat;
    color: var(--basic-black);
    min-height: 220px;
    max-width: 560px;
}

.form-input{
    font: inherit;
    line-height: 24px;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-borderinput);
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-right: 204px;
}

.form-input:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover{
    border: 2px solid var(--basic-borderinput)
}

.form-input:focus,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover{
    border: 2px solid var(--basic-borderinputfocus);
    border-radius: 4px;
}

.btn{
    vertical-align: middle;
    border: none;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 19px;
}

.button:hover{
    background: var(--basic-focusbutton);
    box-shadow: 0px 2px 2px #AC1000;
}
.button:active{
    background: var(--basic-activebutton);
    box-shadow: inset 0px 2px 2px #942718;
}

.map{
    background-image: url("../img/map.png"), url("../img/pin.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 1200px;
    min-height: 430px;
    color: var(--basic-black);
}

.map p{
    font-size: 14px;
    line-height: 20px;
}

.map span{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.phone{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--basic-black);   
}

.map div{
    background-color: var(--basic-white);
    max-width: 303px;
    min-height: 306px;
    border-radius: 16px;
}

.map a{
    padding-top: 13px;
    padding-left: 28px;
    padding-right: 28px;
}

.footer-icon-list,.footer-about-list{
    list-style-type: none;
}

.footer-about a,
.developer a{
    font-size: 13px;
    line-height: 18px;
    border-bottom: 2px solid var( --basic-lightgreen);
}

.footer-about a:hover,
.footer-about a:active,
.developer a:hover,
.developer a:active{
    font-weight: bold;
}

.developer p{
    font-size: 12px;
    line-height: 18px;
}

/*Login form*/

.login-form input[type="email"],
.login-form input[type="password"]{
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-darkgrey);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-border);
    border-radius: 4px;
}

.restore{
    color: var(--basic-black);
    font-size: 13px;
    line-height: 15px;
    border-bottom: 1px solid var(--basic-line);
}

.button-input{
    vertical-align: middle;
    border: none;
    line-height: 16px;
    padding-top: 15px;
    padding-right: 26px;
    padding-left: 25px;
    padding-bottom: 15px;
}











